*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  html{
    font-family: 'sans-serif', 'Arial','Lato';
    font-size: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  /*******Sekcja główne*******/


  .row{
     max-width: 1140px;
     margin: 0 auto;
  
  }

  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B22223; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  header{
     height:100vh;
     background-image: url('img/hiker.jpg');
     filter: saturate(150%);
     filter: brightness(1.35);
     background-size: cover;
     background-position:top;
     background-attachment: fixed;
  }
  
 
  .contact{
   display:none;
   position: absolute;
   height:100vh;
   width:100%;
   transform: translateY(-100%);
   background-color: #fff;
   animation: phone 1s ease-in-out;
   animation-fill-mode: forwards;
   clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
   box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.452);
   z-index: 1000;
   opacity:0.65;
  }
  
  .phone-number
  {
      position: absolute;
      top: 50%;
      left: 50%;
      font-weight: 200;
      transform: translate(-50%,-50%);
      color: black;
      -webkit-text-fill-color: #FEBE76; 
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
  }
  .contact-text{
   position: absolute;
   top:20%;
   left:50%;
   transform: translate(-50%,-20%);
   font-family: sans-serif;
   font-weight: 200;
   color: black;
   -webkit-text-fill-color: #FEBE76; 
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
  }
  .contact-text::after{
   display:block;
   height:2px;
   background-color: black;
   font-weight: 700;
   content: "";
   width:500px;
   margin: 0 auto;
   margin-top:30px;
  }
  .exit{
   position: absolute;
   top:3%;
   right:3%;
   font-size: 50px;
   cursor: pointer;
   font-weight: 700;
   transition: all .3s ease-in-out;
   outline:0;
   color: black;
   -webkit-text-fill-color: #FEBE76; 
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
  }
  .exit:hover{
   transform: rotate(180deg);
   opacity:0.8;
  }
  .text{
     position: absolute;
     top:50%;
     left:50%;
     font-size:50px;
     transform: translate(-50%,-50%);
  }
  h1{
     text-transform: uppercase;
     letter-spacing: 2px;
     word-spacing: 3px;
  }
  div.middle{
  margin:auto;
  height:120px;
  width:100%;
  text-align:center;
  }
  .text-type-animation{
  text-transform:uppercase;
  font-size:60px;
  color:rgba(75, 75, 75,);
  }
  .txt-rotate{
  color:grey;
  }
  h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 30px;
  }
  h2:after{
     display:block;
     height:2px;
     background-color: #FEBE76;
     font-weight: 700;
     content: "";
     width:500px;
     margin: 0 auto;
     margin-top:30px;
  }
  .about-me{
     margin-top:40px;
  }
  h3{
     font-size: 110%;
     margin-bottom: 15px;
     text-align: center;
  
  }
  .text-about{
     text-align: center;
  }
  .logo{
     height:80px;
     width: auto;
     float:left;
     margin-top:10px;
     position: fixed;
     top: 0;
  }
  .navigation{
     float:right;
     list-style: none;
     margin-top:30px;
     z-index: 9999;
  }
  .navigation li{
     display: inline-block;
     margin-left: 30px;       
  }
  
  .navigation li a:link,
  .navigation li a:visited
  {
     color:rgb(139, 63, 19);
     text-decoration: none;
     text-transform: uppercase;
     font-size: 25px;
     outline: 0;
     border-top:2px solid transparent;
     transition: all .3s linear;
  }
  
  .navigation li a:hover,
  .navigation li a:active{
     border-top:2px solid #B22223;
     padding-top: 5px;
  }
  .section-skills{
     padding: 60px 0;
     background: -webkit-linear-gradient(70deg, #fff 30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, rgba(0, 0, 0, 0) 60%, #E34C26 60%);
     background: -o-linear-gradient(70deg, #fff  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, rgba(0, 0, 0, 0) 60%, #1A70B5 60%);
     background: -moz-linear-gradient(70deg, #fff  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, rgba(0, 0, 0, 0.089) 60%, #C76495 60%);
     background: linear-gradient(70deg, #fff  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, rgba(0, 0, 0, 0) 60%, #F0D91D 60%);
     background-attachment: fixed;
     box-shadow: 0 2px 25px 2px rgb(110, 104, 104), 0 2px 50px 2px rgb(119, 115, 115), 0 0 100px 3px rgb(139, 130, 130);
     
  }
  .introduce{
     line-height: 120%;
     width: 70%;
     margin-left: 15%;
  }
  .introduce span{
   background-color: #FEBE76;
  }
  .box{
     padding: 1%;
  }
  .box p{
     font-size: 90%;
     line-height: 145%;
  }
  .icon{
     display: block;
     font-size: 400%;
     color: #FEBE76;
     margin-bottom: 28px;   
     transition: all .3s ease-in-out; 
     text-align: center;
  }
  .icon:hover{
     cursor:pointer;
     transform: scale(1.1);
  }
  #ihtml{
   color: #E34C26;
   box-shadow: 5px 5px;
  }
  #icss{
   color:#1A70B5;
   box-shadow: 5px 5px;
  }
  #isass{
   color:#C76495;
   box-shadow: 5px 5px;
  }
  #ijs{
   color:#F0D91D;
   box-shadow: 5px 5px;
  }
  /******Koniec sekcji główne******/
  
  /*******Sekcja o mnie**********/
  .main{
  margin-bottom: 50px;
  color:black;
  background-color: #fff;
  background-attachment: scroll;
  box-shadow: inset 0 0 50px rgba(175, 167, 109, 0.735);
  }
  .purpose{
  transform: translate(-100vw);
  transition: .3s ease-in-out;
  }
  
  .hobby{
  transform: translate(-100vw);
  transition: .3s ease-in-out;
  }
  
  .purpose.active{
  transform: translate(0);
  }
  
  .hobby.active{
  transform: translate(0);
  }
  
  /*cursor*/
  #outerCircleText {
  font-style: italic;
  font-weight: bold;
  color: #000;
  position: absolute;top: 0;left: 0;z-index: 3000;cursor: default;
  }
  #outerCircleText div {
  position: relative;
  }
  #outerCircleText div div {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  }
  /*******Koniec sekcji o mnie********/
  
  
  /********Sekcja card about me*******/
  .card-me{
  margin-bottom: 50px; 
  }
  .u-clearfix:before,
  .u-clearfix:after {
  content: " ";
  display: table;
  }
  
  .u-clearfix:after {
  clear: both;
  }
  
  .u-clearfix {
  *zoom: 1;
  }
  
  .subtle {
  color: #aaa;
  }

  .morph-wrap {
    position: absolute;
    top:-30%;
	left: -100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.morph {
	position: relative;
	height: 100%;
	fill: #FEBE76;
	flex: none;
}

  /*flip background*/
  .container{
       position: absolute;
       height: 100vh;
       width: 100%;
       overflow: hidden;
       background: transparent;
       z-index: 9999;
       opacity:0.8;
   }
   .container div{
       position: relative;
       display: block;
       float: left;
       width: 20%;
       height: 20vh;
   }
  
   .container div:before{
       content: '';
       position: absolute;
       top:0;
       left:0;
       width: 100%;
       height: 100%;
       background: url('hole.png') no-repeat 50% 50%;
       transform-style: preserve-3d;
       transform-origin: top;
       background-attachment: fixed;
       transform: perspective(1000px) rotateX(0deg) translateY(0);
       transition: 0.5s linear;
   }
   .container div.flip:before{
    transform: perspective(1000px) rotateX(90deg) translateY(-50%);
   }

   .container div:after{
       content: '';
       position: absolute;
       top:0;
       left:0;
       width: 100%;
       height: 100%;
       background-attachment: fixed;
       transform-style: preserve-3d;
       transform-origin: top;
       transform: perspective(1000px) rotateX(-90deg) translateY(50%);
       transition: 0.5s linear;
   }
   .container div.flip:after{
    transform: perspective(1000px) rotateX(0deg) translateY(0);
   }

 /*Koniec sekcji flip background*/

  
  .card-container {
  margin: 25px auto 0;
  position: relative;
  width: 800px;
  opacity:0;
  transition: all .2s ease-in-out;
  }
  .card-container.opactive{
  opacity:1;
  }
  .card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  opacity: 0.9;
  z-index: 1;
  }
  .card-description span{
  background-color: #FEBE76;
  }
  .card-watch{
  font-size: 40px;
  text-align: right;
  line-height: 80px;
  }
  .fa-tv{
  cursor:pointer;
  }
  
  .card-body {
  display: inline-block;
  float: left;
  width: 300px;
  opacity:0.9;
  }
  
  .card-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
  }
  .card-title {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
  }
  .card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
  }
  .card-line {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  }
  .card-line:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 75%;
  }
  .card-tag {
  float: right;
  margin: 5px 0 0;
  }
  .card-media {
  float: right;
  }
  .card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
  }
  /**********Koniec sekcji card me*********/
  
  /***********Sekcja portfolio************/
  .suffer{
  margin-top:40px;
  }
  .work{
  margin-top:100px;
  }
  
  .title {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 3.75rem;
  letter-spacing: 5px;
  background: linear-gradient(rgba(255, 0, 0, 0), #444, rgba(255, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  }
  .case-study__img {
  width: 100%;
  display: block;
  margin-top: 50%;
  transform: translateY(50%);
  margin: 0 auto;
  }
  .case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  }
  .case-study__overlay:after {
  content: '';
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background-color: #202020;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all 0.3s ease;
  }
  .case-study__title {
  position: relative;
  top: -200px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.25rem;
  font-family: 'Oswald';
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  }
  .case-study__link {
  position: relative;
  display: block;
  width: 60%;
  top: 200px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Oswald';
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  }
  .case-study__link:hover {
  background-color: white;
  color: #202020;
  }
  .case-study:hover .case-study__title {
  top: 0;
  }
  .case-study:hover .case-study__link {
  top: 0;
  }
  .case-study:hover .case-study__overlay:after {
  opacity: 0.75;
  }
  .study1 {
  background-image: url('img/rocketproject.png');
  }
  .study2 {
  background-image: url('img/imgchanger.png');
  }
  .study3 {
  background-image: url('img/mowiacwprost.pl_.png');
  }
  .study4 {
  background-image: url('img/fr.png');
  }
  
  /********Koniec sekcji portfolio********/
  
  /*********Sekcja footer**************/
  
  .footer-img{
  text-align: center;
  }
  .footerlogo{
  width:5rem;
  height:auto;
  }
  .footerlist{
  list-style:none;
  }
  .footerelement{
  display: inline-block;
  margin-left:4px;
  }
  .footerelement a{
  text-decoration: none;
  color:#34495E;
  transition: all .3s ease-in-out;
  }
  .footerelement a:hover{
  color:rgba(52, 73, 94, 0.63);
  }
  
  /********Koniec sekcji footer*********/
  
  /*********Keyframes animation********/
  
  @keyframes phone{
  0%{
  transform: translateY(-100%)
  }
  100%{
  display: block;
  transform: translateY(0%)
  }
  }
  
  /*******Koniec sekcji keyframes animation******/
  
  /********Sekcja optimalizacja**********/
  @media only screen and (min-width: 2000px){
  .logo{
  left:10%;
  height: 150px;
  width:150px;
  }
  .navigation li a:link{
  font-size:40px;
  }
  .navigation{
  margin-top:50px;
  }
  .contact-text{
  font-size:70px;
  }
  .exit{
  font-size:80px;
  }
  .cv{
  height: 250px;
  width:250px;
  }
  .text-type-animation{
  font-size:110px;
  }
  p{
  font-size:40px;
  }
  .box p{
  font-size:30px;
  width: 250px;
  }
  .language{
  font-size:40px;
  }
  .about-me{
  font-size:60px;
  }
  h2{
  font-size:60px;
  }
  h3{
  font-size:50px;
  margin-bottom: 30px;
  }
  .card-container{
  width:1300px;
  }
  .card-title{
  font-size:80px;
  line-height: 100px;
  }
  .card-description{
  font-size:30px;
  line-height: 50px;
  }
  .card-media{
  height:350px;
  }
  .footerlogo{
  height: 150px;
  width:150px;
  margin-bottom: 10px;
  }
  .footerlist{
  position: absolute;
  left:10%;
  font-size: 35px;
  }
  }
  
  @media only screen and (max-width: 1200px){
  .navigation{
  margin-right: 200px;
  }
  }
  @media only screen and (max-width: 1024px){
  
  body{font-size: 18px;}

  section{padding: 60px 0;}

  .navigation{
  top:20%;
  }
  .navigation li{
  margin-right: -10px;
  }
  .text{
  top:30%;
  }
  .contact{
  height: 70vh;
  }
  .suffer{
  margin-top:-120px;
  }
  .case-study-gallery{
  margin-top:-2px;
  }
  .morph-wrap
  {
    display: none;
  }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px){
  .navigation{
  margin-right:50px;
  }
  }
  @media only screen and (max-width: 767px){
  body{
  overflow-x: hidden;
  }
  header{
     background-image: none;
  }
  .text-type-animation{
  font-size:30px;
  }
  .navigation{
  position:absolute;
  top:18%;
  }
  .navigation li{
  display:block;
  margin-bottom: 12px;
  transition: all .3s ease-in-out;
  }
  .navigation li:hover{
  margin-left:10px;
  }
  .contact-text{
  top:25%;
  font-size:17px;
  text-align: center;

  }
  .phone-number
  {
      font-size: 20px;
      text-align: center;
      color: black;
  }
  .contact-text::after{
  width:250px;
  }
  .cv{
  height:100px;
  width:100px;
  font-weight: 200;
  }
  .exit{
  font-size:40px;
  }
  .text{
  top:65%;
  }
  .introduce{
  font-size:20px;
  }
  .suffer{
  margin-top:-130px;
  }
  .case-study-gallery{
  margin-top:-5px;
  }
  .about-me{
  margin-top:10px;
  }
  .card-container{
  margin-top:-70px;
  }
  .card-media{
  height: 100px;
  float:none;
  display:none;
  }
  .card-title{
  font-size:20px;
  }
  .footerlist{
  text-align: center;
  margin-bottom: 5px;
  }
  p{
  font-size:15px;
  }
  }
  
  @media only screen and (max-width: 480px){
  
  }
  @media screen and (min-width: 37.5em) {
  .title {
  font-size: 4.75rem;
  }

  }
  p {
  margin: 0 auto 2rem;
  text-align: center;
  font-family: 'oswald';
  font-size: 1.25rem;
  color: #444;
  font-weight: 100;
  width: 90%;
  }
  @media screen and (min-width: 37.5em) {
  p {
  height: 70%;
  }
  }
  .case-study-gallery {
  margin-top: 50px;
  transition: all .3s linear;
  }
  .case-study {
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  margin: 0 auto 2rem;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, .5);
  overflow: hidden;
  transition: all 0.4s ease;
  }
  
  @media screen and (min-width: 37.5em) {
  .case-study {
  height: 300px;
  }
  }
  @media screen and (min-width: 45em) {
  .case-study {
  display: inline-block;
  width: 45%;
  margin-left: 25px;
  }
  }
  /*******Koniec sekcji optymalziacja*******/